<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Artist collection</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Artist collection</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/artist/create">Create a new artist</a>
      </li>
      <li>
        <a href="/album/create">Create a new album</a>
      </li>
    </ul>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>
</html>